version: '2'

services:
  auto-tests:
    container_name: "automated-test"
    build:
      context: .
      args:
        HTTP_CREDENTIALS_USERNAME: ${HTTP_CREDENTIALS_USERNAME}
        HTTP_CREDENTIALS_PASSWORD: ${HTTP_CREDENTIALS_PASSWORD}
    volumes:
      - ./playwright-report:/aqa-playwright-1/playwright-report
