version: '2'

services:
  auto-tests:
    container_name: "automated-test"
    build:
      context: .
    environment:
        HTTP_CREDENTIALS_USERNAME: ${HTTP_CREDENTIALS_USERNAME}
        HTTP_CREDENTIALS_PASSWORD: ${HTTP_CREDENTIALS_PASSWORD}